
.container {
  width: 800px;
  margin: 70px auto;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}


input {
  width: 100%;
  height: 45px;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  margin: 15px 0;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.input-name{
  width: 20%;
}

.input-area{
  width: 80%;
}

#email-td{
  display: flex;
}

#email {
  width: 85%;
}

#email-btn{
  width: 15%;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
}

#birth{
  text-align: center;
  font-size: 1.3rem;
}

h3{
  margin-bottom: 3px;
}