*{
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard', Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  
}

@font-face { /* 평창 평화체 */
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face { /* 더 잠실체 */
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face { /* 스위트 */
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* kh-top */

#kh-top{
  width: 1230px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.call{
  padding: 15px 0;
  height: 100%;
  float: left;
  display: flex;
}

.call-number > li:first-child{
  font-size: 2.7em;
  line-height: 50px;
  font-weight: bold;
  height: 70%;
}

.call-number:last-child{
  font-size: 12px;
  padding-left: 5px;
}

.call-number > li{
  height: 50%;
  list-style: none;
}

.KH-logo > img{
  height: 100%;
  padding: 15px 0;
}

.medal-logo{
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.medal-logo > li{
  margin: 0 2px;
}

/* kh-top */

/* navigator */

.stick-list{
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 1000;
}

.navigator-list{
  border: 1px solid #b8b8b8;
  height: 50px;
  display: flex;
  justify-content: center;
}

.line{
  margin: 0 30px;
}
.navigator-list > li{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.navigator-list > li > a{
  font-family: 'TheJamsil5Bold';
  text-decoration: none;
  color: #222;
  font-size: 16px;
  vertical-align: 1px;
  cursor: pointer;
}

.highlight-red:hover > a{
  color: red;
}
/* navigator */

/************ login ***********/

.background{
  padding-top: 80px;
  background-image: url(../../images/AdobeStock_569893594.jpeg);
  background-size: cover;
  background-position: center;
  
}

/* my page */
#my-page{
  margin-bottom: 50px;
}
#my-page > h1{
  font-size: 35px;
  font-family: 'SUIT-Regular';
}

#my-page > h5{
  font-weight: 1;
  font-family: 'SUIT-Regular';
}

#my-page > *{
  color: white;
}
/* my page */

.self-center{
  text-align: center;
}

#login{
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#id-pw-login{
  box-sizing: content-box;
  padding: 40px 60px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: white;
}

/* 입력창 */
#id-pw-login > input{
  height: 50px;
  padding: 10px;
  border: 1px solid #616161;
  margin: 5px 0;
}

/* 로그인 버튼 */
#login-button{
  height: 51px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(36, 35, 35);
  font-size: 18px;
  
  color: white;
}
/* 버튼 */

input[type="checkbox"]{
  width: 18px;
  height: 18px;
}

.checkbox{
  font-size: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc !important;
}

/* 하단 텍스트 부분 */
.custom-1{
  text-align: left;
  padding-top: 20px;
  padding-left: 11px;
  list-style-position: inside;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-indent: -20px;
  
}

.custom-2{
  color: red;
}
/* 하단 텍스트 부분 */

/* 즐겨찾기 버튼 */
.bookmark-button{
  display: flex;
  justify-content: center;
}
.bookmark-add-button{
  border: none;
  width: 125px;
  margin-top: 30px;
  padding: 12px 8px;
  background: red;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}
/* 즐겨찾기 버튼 */

/* 아이디/비밀번호 찾기 */
.id-pw-find{
  margin: 20px;
}

.id-pw-find > a{
  text-decoration: none;
  font-family: 'SUIT-Regular';
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.id-pw-find > span{
  color: white;
}

span{
  margin: 0 10px;
}
/* 아이디/비밀번호 찾기 */

/* footer */
footer{
  text-align: center;  
}



/* bottom-wrap */
.bottom-link-wrap-in{
  display: flex;
  margin-top: 30px;
  width: 1200px;
  height: 200px;
  margin: auto;
}


.bottom-link-wrap-in > div{
  border: 1px solid rgba(185, 185, 185, 0.342);
  width: 25%;
  padding: 30px 20px;
}

.bottom_phone_icon{
  width: 58px;
  height: 51px;
  margin-right: 10px;
}

/* 전화번호 부분 */
.call-bottom >div{
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}

.call-bottom-number > li{
  list-style: none;
}
.call-bottom-number1{
  text-align: left;
}

.call-bottom-number2{
  text-align: left;
  font-size: 12px;
}
.call1544{
  font-size: 34px;
  color: red;
  font-weight: bold;
}

.mitting{
  font-size: 13px;
}

/* 아이콘 */
.icon{
  position: relative;
  display: inline-block;
  background-color: #222;
  text-decoration: none;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
}
.icon >img{
  margin-top: 32px;
}

.icon-bottom1{
  font-size: 17px;
  font-weight: bold;
  color: #444444;
}
.icon-bottom2{
  color: #656565;
  font-size: 13px;
}


/* 우수 지원 */
.support{
  background-color: #e9ecf2;
}

.support-box{
  padding-top: 30px;
  width: 1150px;
  height: 210px;
  margin: auto;
}

.support-box > li{
  height: 100%;
  display: inline-block;
  margin: 0 19px;
}

.jiwon{
  color: #656565;
  font-size: 13px;
  text-align: center;
  margin-top: 6px;
}

.selection{
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;}

/* 우수 지원 */

/* bottom-info */

.bottom-info-back{
  background-color: #44444428;
}

.bottom-info, .bottom-info-a, .bottom-info-main, .bottom-info-sub{
  width: 1150px;
  margin: auto;
}

.bottom-info{
  list-style: none;
  padding: 15px 0;
  display: flex;
}
.bottom-info-a{
  text-decoration: none;
  color: black;
}

.bottom-info-main{
  text-align: left;
  font-weight: bold;
  padding: 15px 0;
}

.bottom-info-sub{
  font-family: 'SUITE-Regular';
  text-align: left;
  font-size: 15px;
  color: #333;
}
/* bottom-info */
